*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h-200px{
    height: 100px;
}


.border-black{
    border: 1px solid black;
}

.border-top-black{
    border-top: 1px solid black;
    width: 100%;
}

.bici-box {
    height: 200px; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bici-img {
    height: 200px;         
    object-fit: contain;   
}
